*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/JCL/build/
/app/
/.idea/
JCL/build/generated/assets/
JCL/build/generated/res/
JCL/build/generated/source/aidl/
JCL/build/generated/source/apt/
JCL/build/generated/source/r/androidTest/
JCL/build/generated/source/rs/
JCL/build/intermediates/blame/res/androidTest/
JCL/build/intermediates/classes/androidTest/
JCL/build/intermediates/incremental-safeguard/androidTest/
JCL/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
JCL/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
JCL/build/intermediates/incremental/mergeDebugResources/aapt-temp/
JCL/build/intermediates/incremental/packageDebugAndroidTest/
JCL/build/intermediates/incremental/packageRelease/
JCL/build/intermediates/incremental/processDebugAndroidTestResources/
JCL/build/intermediates/incremental/processDebugResources/
JCL/build/intermediates/jniLibs/
JCL/build/intermediates/manifest/tmp/
JCL/build/intermediates/manifests/instant-run/
JCL/build/intermediates/pre-dexed/debug/android-support-v4_4c6b637f2762c0ed193b95f26d78ce8da88e8a8e.jar
JCL/build/intermediates/pre-dexed/debug/gson-2.2.4_c91717f179dc6fcfe08cc9a2b97868154e9f8a65.jar
JCL/build/intermediates/res/merged/androidTest/
JCL/build/intermediates/rs/
JCL/build/intermediates/shaders/
JCL/build/intermediates/symbols/androidTest/
JCL/build/intermediates/transforms/mergeJniLibs/
JCL/build/tmp/compileDebugAndroidTestJavaWithJavac/
JCL/build/tmp/compileDebugJavaWithJavac/
app/
!/JCL/build/
